# Python
__pycache__/
*.pyc
*.pyo

# IDE
.vscode/
.idea/

# ROS
build/
devel/
.catkin_tools/

# container runtime data
fakehome/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Custom
*.tar.gz
leju-kuavo-challenge-cup-2026/
